/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require dropzone
 */
@import "semantic-ui";

html, body {
    height: 100%;
}
body {
  color: #888;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:"Droid Arabic Kufi", "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif */
}

a {
    &.brand {
        color: #A1CF64;
        text-decoration: none;
        font-weight: normal;
    }
}

sup.beta {
    font-size: 50%;
    color: #ccc;
}

.hidden {
    display: none;
}

.main {
    max-width: 800px;
    margin: 0 auto;
}

.info {
    color: #ccc;
}

#dropzone {

    min-height: 15em;
    max-height: 25em;
    overflow: auto;
    cursor: pointer;

    &.dover {
        background-color: rgb(240, 255, 240);
    }

    &.working {
        .indicator {
            display: none;
        }
    }

}

#success-message {
    margin-top: 1em;
}


a.entry {
  color: #666;
  transition: color ease 0.3s;
  text-decoration: none;

  &:hover {
    color: #A1CF64;
  }
}
